body {
    padding: 0;
    margin: 0;
    background-color: #D2CFE0;
    overflow: hidden;
}


#introContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at center white, #D2CFE0 100%);
    overflow: hidden;
}

#top, #middle, #bot {
    position: relative;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#middle, #top {
    height: 30%;
    display: flex;
}

#bot {
    height: 40%;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 12vh;
    font-weight: 100;
    font-style: italic;
}

#logo {
    display: none;
    position: absolute;
    height: 200%;
    z-index: -1;
    animation-name: spin;
    animation-duration: 8000ms;
    animation-timing-function: linear;
    animation-duration: 8000ms;
    animation-name: createBox;
}

@keyframes createBox{
    from{
        height:0px;
        

    }
    to{
        height: 200%;
       
    }
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}



#yoga {
    height: 100%;
}


hr {
    margin-top: 5%;
    width: 75%;
    height: 1px;
    border-style: none;
    background-color: white;
}

.smallText {
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    color: #373737;
}

p {
    position: absolute;
    text-align: center;
    padding: 5%;
}

#signIn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    color: #373737;
}

#bot img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 10%;
    bottom: 25%;
}

#accountReg {
    
    position:absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%);
    height: 15%;
    width: 50%;
    border-radius: 25px;
    border: none;
    background-color: #9BADCB;
    color: white;
}

