body {
    padding: 0;
    margin: 0;
    background-color: #D2CFE0;
    overflow: hidden;
}


#introContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    
}

#top, #middle, #bot {
    position: relative;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#middle, #top {
    height: 30%;
    display: flex;
}

#bot {
    height: 40%;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 12vh;
    font-weight: 100;
}

#middle img {
    height: 100%;
}

hr {
    margin-top: 5%;
    width: 75%;
    height: 2px;
    border-style: none;
    background-color: white;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    color: #373737;
    text-align: center;
    margin: 10% 5% 10% 5%;
}

#bot img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 10%;
    bottom: 45%;
}

#accountReg {
    
    position:absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%);
    height: 15%;
    width: 50%;
    border-radius: 25px;
    border: none;
    background-color: #9BADCB;
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    color: white;
}

